{% load staticfiles %}
<!DOCTYPE html>
<head>
  <meta charset="utf-8">
  <!--[if IE]><meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1"><![endif]-->
  <title>{% block titulo %}{% endblock titulo %}</title>
  <meta name="keywords" content="" />
  <meta name="description" content="" />
  <meta name="viewport" content="width=device-width">        
  <link rel="stylesheet" href="{% static "css/templatemo_main.css" %}">
  <link rel="stylesheet" href="{% static "css/loading-bar.css" %}">
  <link rel="stylesheet" href="{% static "css/sweetalert.css" %}">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.6.3/css/font-awesome.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.6/angular.min.js"></script>
  <script type="text/javascript" src="https://code.angularjs.org/1.5.6/angular-route.min.js"></script>
<!-- 
Dashboard Template 
http://www.templatemo.com/preview/templatemo_415_dashboard
-->
</head>
<body ng-app="SalesApp">
  <div class="navbar navbar-inverse" role="navigation">
      <div class="navbar-header">
        <div class="logo"><h1>DjangoSales</h1></div>
        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button> 
      </div>   
    </div>
    <div class="template-page-wrapper">
      <div class="navbar-collapse collapse templatemo-sidebar">
        <ul class="templatemo-sidebar-menu">
          <li>
            <form class="navbar-form">
              <input type="text" class="form-control" id="templatemo_search_box" placeholder="Search...">
              <span class="btn btn-default">Go</span>
            </form>
          </li>
          <li {% block dashboard %}{% endblock dashboard %}><a href="#"><i class="fa fa-home"></i>Dashboard</a></li>
          <li {% block productos %}{% endblock productos %}><a href="{% url 'productos' %}"><i class="fa fa-cubes"></i>Productos</a></li>
          <li {% block inventario %}{% endblock inventario %}><a href="{% url 'inventario' %}"><i class="fa fa-list-alt" aria-hidden="true"></i>Inventario</a></li>
          <li class="sub">
            <a href="javascript:;">
              <i class="fa fa-database"></i> Catálogos <div class="pull-right"><span class="caret"></span></div>
            </a>
            <ul class="templatemo-submenu">
              <li><a href="#">Proveedores</a></li>
              <li><a href="#">Unidades</a></li>
              <li><a href="#">Categorias</a></li>             
            </ul>
          </li>
          <li><a href="maps.html"><i class="fa fa-map-marker"></i><span class="badge pull-right">42</span>Maps</a></li>
          <li><a href="tables.html"><i class="fa fa-users"></i><span class="badge pull-right">NEW</span>Manage Users</a></li>
          <li><a href="preferences.html"><i class="fa fa-cog"></i>Preferences</a></li>
          <li><a href="javascript:;" data-toggle="modal" data-target="#confirmModal"><i class="fa fa-sign-out"></i>Sign Out</a></li>
        </ul>
      </div><!--/.navbar-collapse -->

      <div class="templatemo-content-wrapper">
        <div class="templatemo-content">
          {% block contenido %}
              
            {% endblock contenido %}  
        </div>
      </div>
      {% block modales %}
        
      {% endblock modales %}

      <footer class="templatemo-footer">
        <div class="templatemo-copyright">
          <p>Copyright &copy; 2084 Your Company Name</p>
        </div>
      </footer>
    </div>
    <script src="{% static "js/app.js" %}"></script>
    <script src="{% static "js/jquery.min.js" %}"></script>
    <script src="{% static "js/bootstrap.min.js" %}"></script>
    <script src="{% static "js/templatemo_script.js" %}"></script>
    <script type="text/javascript" src="{% static "js/dirPagination.js" %}"></script>
    <script src="{% static "js/app.js"%}"></script>
    <script src="{% static "js/loading-bar.js"%}"></script>
    <script src="{% static "js/sweetalert.min.js"%}"></script>
    <script src="{% static "js/Controllers/Administrador/Entradas/productosController.js"%}"></script>
    <script src="{% static "js/Controllers/Administrador/Proveedores/ProveedoresController.js"%}"></script>
    <script type="text/javascript">
      $('#myTab a').click(function (e) {
        e.preventDefault();
        $(this).tab('show');
      });

      $('#loading-example-btn').click(function () {
        var btn = $(this);
        btn.button('loading');
        // $.ajax(...).always(function () {
        //   btn.button('reset');
        // });
    });
  </script>
  {% block js %}
    
  {% endblock js %}
</body>
</html>