{% load staticfiles %}
<!doctype html>
<html lang="en" ng-app="app">
<head>
  <meta charset="utf-8" />
  <link rel="apple-touch-icon" sizes="76x76" href="{% static "img/apple-icon.png"" %}>
  <link rel="icon" type="image/png" sizes="96x96" href="{% static "img/favicon.png"" %}>
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />

  <title>Bienvenido|DjangoSales</title>

  <meta content='width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0' name='viewport' />
    <meta name="viewport" content="width=device-width" />
    <!-- Bootstrap core CSS     -->
    <link href="{% static "css/bootstrap.min.css" %}" rel="stylesheet" />
    <!-- Animation library for notifications   -->
    <link href="{% static "css/animate.min.css" %}" rel="stylesheet"/>
    <!--  Paper Dashboard core CSS    -->
    <link href="{% static "css/paper-dashboard.css" %}" rel="stylesheet"/>
    <!--  CSS for Demo Purpose, don't include it in your project     -->
    <link href="{% static "css/demo.css" %}" rel="stylesheet" />
    <!--  Fonts and icons     -->
    <link href="http://maxcdn.bootstrapcdn.com/font-awesome/latest/css/font-awesome.min.css" rel="stylesheet">
    <link href='https://fonts.googleapis.com/css?family=Muli:400,300' rel='stylesheet' type='text/css'>
    <link href="{% static "css/themify-icons.css" %}" rel="stylesheet">
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.6/angular.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/angular-ui-bootstrap/2.2.0/ui-bootstrap-tpls.js"></script>
    <script src="{% static "js/angular-ui.js" %}"></script>
    <script src="{% static "js/dirPagination.js" %}"></script>
</head>
<body ng-controller="mainController as $ctrl">

<div class="wrapper">
    <div class="sidebar" data-background-color="white" data-active-color="info">

    <!--
    Tip 1: you can change the color of the sidebar's background using: data-background-color="white | black"
    Tip 2: you can change the color of the active button using the data-active-color="primary | info | success | warning | danger"
  -->

      <div class="sidebar-wrapper">
            <div class="logo">
                <a ui-sref="main" class="simple-text">
                    DjangoSales
                </a>
            </div>

            <ul class="nav">
                <li ui-sref="main" ui-sref-active="active">
                    <a ui-sref="main" ui-sref-active="active">
                        <i class="ti-panel"></i>
                        <p>Inicio</p>
                    </a>
                </li>
                <li ui-sref="productos" ui-sref-active="active">
                    <a ui-sref="productos" ui-sref-active="active">
                        <i class="ti-user"></i>
                        <p>Productos</p>
                    </a>
                </li>
                <li>
                    <a href="table.html">
                        <i class="ti-view-list-alt"></i>
                        <p>Inventario</p>
                    </a>
                </li>
                <li>
                    <a href="typography.html">
                        <i class="ti-text"></i>
                        <p>Ventas</p>
                    </a>
                </li>
            </ul>
      </div>
    </div>

    <div class="main-panel">
        <nav class="navbar navbar-default">
            <div class="container-fluid">
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="icon-bar bar1"></span>
                        <span class="icon-bar bar2"></span>
                        <span class="icon-bar bar3"></span>
                    </button>
                    <a class="navbar-brand" href="#">Dashboard</a>
                </div>
                <div class="collapse navbar-collapse">
                    <ul class="nav navbar-nav navbar-right">
                        <li class="dropdown">
                              <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                                    <i class="ti-user"></i>
                                    <p>{{ user.username }}</p>
                                    <b class="caret"></b>
                              </a>
                              <ul class="dropdown-menu">
                                <li><a href="#">Salir</a></li>
                              </ul>
                        </li>
                    </ul>

                </div>
            </div>
        </nav>


        <div class="content">
            <div class="container-fluid">
                <ui-view></ui-view>
                <div ui-view="table"></div>
            </div>
        </div>


        <footer class="footer">
            <div class="container-fluid">
                <div class="copyright pull-right">
                    &copy; <script>document.write(new Date().getFullYear())</script>, made with <i class="fa fa-heart heart"></i> by <a href="http://www.creative-tim.com">Creative Tim</a>
                </div>
            </div>
        </footer>

    </div>
</div>


</body>
<script src="{% static "js/app/app.js" %}"></script>
<script src="{% static "js/app/module.js" %}"></script>
<script src="{% static "js/app/components/main/mainComponent.js" %}"></script>
<script src="{% static "js/app/components/main/mainFactory.js" %}"></script>
<script src="{% static "js/app/components/generic/tableComponent.js" %}"></script>
    <!--   Core JS Files   -->
<script src="{% static "js/jquery-1.10.2.js" %}" type="text/javascript"></script>
<script src="{% static "js/bootstrap.min.js" %}" type="text/javascript"></script>

<!--  Checkbox, Radio & Switch Plugins -->
<script src="{% static "js/bootstrap-checkbox-radio.js" %}"></script>

<!--  Charts Plugin -->
<script src="{% static "js/chartist.min.js" %}"></script>

<!--  Notifications Plugin    -->
<script src="{% static "js/bootstrap-notify.js" %}"></script>

<!--  Google Maps Plugin    -->
<script type="text/javascript" src="https://maps.googleapis.com/maps/api/js"></script>

<!-- Paper Dashboard Core javascript and methods for Demo purpose -->
<script src="{% static "js/paper-dashboard.js" %}"></script>

<!-- Paper Dashboard DEMO methods, don't include it in your project! -->
<script src="{% static "js/demo.js" %}"></script>

</html>
