{% extends "base.html" %}
{% load staticfiles %}
{% block titulo %}Entradas{% endblock titulo %}
{% block entradas %}class="active"{% endblock entradas %}
{% block navbar %}Entradas{% endblock navbar %}
{% block contenido %}
<div class="card" ng-controller="entradasController">
    <div class="header">
        <h4 class="title">Entradas</h4>
        <p class="category">Aquí se muestran todas las entradas</p>
    </div><br />
    <p style="padding-left:10px;"><button class="btn btn-primary" data-toggle="modal" data-target="#eliminar">Nueva</button></p>
    <div class="content table-responsive table-full-width">
        <form class="form-inline">
            <div class="form-group" style="padding-left:10px;">
                <label >Busqueda</label>
                <input type="text" ng-model="search" class="form-control" placeholder="Search">
            </div>
        </form>
        <table class="table table-striped" id="example">
            <thead>
                <th ng-click="sort('id')">ID
                    <span class="glyphicon sort-icon" ng-show="sortKey=='id'" ng-class="{'glyphicon-chevron-up':reverse,'glyphicon-chevron-down':!reverse}"></span>
                </th>
                <th ng-click="sort('proveedor')">Proveedor
                    <span class="glyphicon sort-icon" ng-show="sortKey=='proveedor'" ng-class="{'glyphicon-chevron-up':reverse,'glyphicon-chevron-down':!reverse}"></span>
                </th>
                <th ng-click="sort('producto')">Producto
                    <span class="glyphicon sort-icon" ng-show="sortKey=='producto'" ng-class="{'glyphicon-chevron-up':reverse,'glyphicon-chevron-down':!reverse}"></span>
                </th>
                <th ng-click="sort('cantidad')">Cantidad
                    <span class="glyphicon sort-icon" ng-show="sortKey=='cantidad'" ng-class="{'glyphicon-chevron-up':reverse,'glyphicon-chevron-down':!reverse}"></span>
                </th>
                <th class="text-center">ACCIONES</th>
            </tr></thead>
            <tbody>
                <tr dir-paginate="x in entradas|orderBy:sortKey:reverse|filter:search|itemsPerPage:1">
                    <td>[[ x.id ]]</td>
                    <td>[[ x.proveedor ]]</td>
                    <td>[[ x.producto ]]</td>
                    <td>[[ x.cantidad ]]</td>

                    <td class="text-center">
                        <a href="#fakelink" style="font-size:22px; color:#f0ad4e;"><i class="fa fa-edit"></i></a>
                        <a href="#" data-id="[[ x.id ]]" style="font-size:22px; color:#d9534f; padding-left:10px;" data-producto="[[ x.producto ]]"  ng-click="eliminar($event)"><i class="fa fa-trash"></i></a>
                    </td>
                </tr>
            </tbody>
        </table>
        <dir-pagination-controls
            max-size="5"
            direction-links="true"
            boundary-links="true" >
        </dir-pagination-controls>
    </div>
</div>
{% endblock contenido %}

{% block modales %}
    <div class="modal fade" id="eliminar_entrada" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true" style="display: none;">
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
            <h4 class="modal-title" id="myModalLabel">Eliminar</h4>
          </div>
          <div class="modal-body">
            <p>¿Deseas eliminar la entrada <strong id="nombre_entrada"></strong>?</p>
          </div>
          <div class="modal-footer">
            <div class="divider"></div>
            <p>
                <input type="hidden" id="id_entrada">
                <button type="button" class="btn btn-default btn-simple" data-dismiss="modal">Cancelar</button>
                <button type="submit" class="btn btn-danger btn-simple">Eliminar</button>
            </p>
          </div>
        </div>
      </div>
    </div>
{% endblock modales %}
{% block js %}
<link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/u/bs/dt-1.10.12/datatables.min.css"/>
<script type="text/javascript" src="https://cdn.datatables.net/u/bs/dt-1.10.12/datatables.min.js"></script>
<script type="text/javascript">
    //$('#example').dataTable();
</script>
{% endblock js %}
