{% extends "base.html" %}
{% load staticfiles %}
{% block titulo %}Inventario{% endblock titulo %}
{% block inventario %}class="active"{% endblock inventario %}
{% block navbar %}Inventario{% endblock navbar %}
{% block contenido %}
<div ng-view></div>
{% endblock contenido %}


{% block js %}
<link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/u/bs/dt-1.10.12/datatables.min.css"/>
<script type="text/javascript" src="https://cdn.datatables.net/u/bs/dt-1.10.12/datatables.min.js"></script>
<script src="{% static "js/Controllers/Administrador/Inventario/inventarioController.js"%}"></script>
<script src="{% static "js/Controllers/Administrador/Inventario/inventarioAddController.js"%}"></script>
{% endblock js %}
