{% extends "base.html" %}
{% load staticfiles %}
{% block titulo %}Inventario{% endblock titulo %}
{% block inventario %}class="active"{% endblock inventario %}
{% block navbar %}Inventario{% endblock navbar %}
{% block contenido %}
<div ng-view></div>
{% endblock contenido %}

{% block modales %}
    <div class="modal fade" id="eliminar_producto" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true" style="display: none;">
      <div class="modal-dialog">
        <div class="modal-content" ng-controller="productosController">
          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
            <h4 class="modal-title" id="myModalLabel">Eliminar</h4>
          </div>
          <div class="modal-body">
            <p>¿Deseas eliminar el producto <strong>[[ getText() ]]</strong>?</p>
          </div>
          <div class="modal-footer">
            <div class="divider"></div>
            <form>
               <p>
                <input type="hidden" id="id_entrada" ng-model="idEliminar" value="[[ getId() ]]">
                <button type="button" class="btn btn-default btn-simple" data-dismiss="modal">Cancelar</button>
                <button type="submit" class="btn btn-danger btn-simple" ng-click="eliminarProducto()">Eliminar</button>
            </p> 
            </form>
          </div>
        </div>
      </div>
    </div>

     <div class="modal fade" id="editar_producto" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true" style="display: none;">
      <div class="modal-dialog">
        <div class="modal-content" ng-controller="productosController">
          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
            <h4 class="modal-title" id="myModalLabel">Editar</h4>
          </div>
          <form ng-submit="addProducto()">
          <div class="modal-body">
            <div class="row">
                <div class="col-md-5">
                    <label>{{ form.upc.label }}</label>
                    {{ form.upc }}
                </div>
            </div>
            <div class="row">
                <div class="col-md-7">
                    <label>{{ form.nombre.label }}</label>
                    {{ form.nombre }}
                </div>
            </div>
            <div class="row">
                <div class="col-md-6">
                    <label>{{ form.proveedor.label }}</label>
                    {{ form.proveedor }}
                </div>
            </div>
            <div class="row">
                <div class="col-md-6">
                    <label>{{ form.categoria.label }}</label>
                    {{ form.categoria }}
                </div>
            </div>
            <div class="row">
                <div class="col-md-6">
                    <label>{{ form.unidad.label }}</label>
                    {{ form.unidad }}
                </div>
            </div>
          </div>
          <div class="modal-footer">
            <div class="divider"></div>
               <p>
                <button type="button" class="btn btn-default btn-simple" data-dismiss="modal">Cancelar</button>
                <button type="submit" class="btn btn-success btn-simple">Guardar</button>
             </p> 
          </div>
          </form>
        </div>
      </div>
    </div>
    
    <div class="modal fade" id="actualizar_inventario" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true" style="display: none;">
      <div class="modal-dialog">
        <div class="modal-content" ng-controller="inventarioController">
          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
            <h4 class="modal-title" id="myModalLabel">Actualizar</h4>
          </div>
          <form ng-submit="">
          <div class="modal-body">
            <div class="row">
                <div class="col-md-5">
                    <label>UPC</label>
                    <input type="number" class="form-control" ng-model="upc_actualizar" ng-keypress="getInventario()">
                </div>
            </div>
            <div style="display:none;" id="datos_extras">
            	<div class="row">
	                <div class="col-md-5">
	                    <label>Nombre</label>
	                    <input type="text" class="form-control" id="nombre_actualizar" disabled="">
	                </div>
	            </div>
	            <div class="row">
	                <div class="col-md-3">
	                    <label>Existencia</label>
	                    <input type="number" class="form-control" id="existencia_actualizar" disabled="">
	                </div>
	            </div>
	            <div class="row">
	                <div class="col-md-3">
	                    <label>Cantidad</label>
	                    <input type="number" class="form-control" id="cantidad_actualizar" value="0">
	                </div>
	            </div>
            </div>
          </div>
          <div class="modal-footer">
            <div class="divider"></div>
               <p>
                <button type="button" class="btn btn-default btn-simple" data-dismiss="modal">Cancelar</button>
                <button type="submit" class="btn btn-success btn-simple">Guardar</button>
             </p> 
          </div>
          </form>
        </div>
      </div>
    </div>

   
{% endblock modales %}
{% block js %}
<link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/u/bs/dt-1.10.12/datatables.min.css"/>
<script type="text/javascript" src="https://cdn.datatables.net/u/bs/dt-1.10.12/datatables.min.js"></script>
<script src="{% static "js/Controllers/Administrador/Inventario/inventarioController.js"%}"></script>
<script src="{% static "js/Controllers/Administrador/Inventario/inventarioAddController.js"%}"></script>
{% endblock js %}
